day01_hello_world/main
day02_variables/target
day02_variables/Cargo.lock
day02_variables/Cargo.toml
day03_variables2/target
day03_variables2/Cargo.lock
day03_variables2/Cargo.toml
day04_functions1/target
day04_functions1/Cargo.lock
day04_functions1/Cargo.toml
day05_functions_arrays/target
day05_functions_arrays/Cargo.lock
day05_functions_arrays/Cargo.toml
day06_prime_code/target
day06_prime_code/Cargo.lock
day06_prime_code/Cargo.toml
day07_rng/target
day07_rng/Cargo.lock
day08_day09_ownership/Cargo.toml
day08_day09_ownership/Cargo.lock
day08_day09_ownership/target