hello_world/main
day2_variables/target
day2_variables/Cargo.lock
day2_variables/Cargo.toml
day3_variables2/target
day3_variables2/Cargo.lock
day3_variables2/Cargo.toml
day4_functions1/target
day4_functions1/Cargo.lock
day4_functions1/Cargo.toml
day5_functions_arrays/target
day5_functions_arrays/Cargo.lock
day5_functions_arrays/Cargo.toml