day01_hello_world/main
day02_variables/target
day02_variables/Cargo.lock
day02_variables/Cargo.toml
day03_variables2/target
day03_variables2/Cargo.lock
day03_variables2/Cargo.toml
day04_functions1/target
day04_functions1/Cargo.lock
day04_functions1/Cargo.toml
day05_functions_arrays/target
day05_functions_arrays/Cargo.lock
day05_functions_arrays/Cargo.toml
day06_prime_code/target
day06_prime_code/Cargo.lock
day06_prime_code/Cargo.toml
day07_rng/target
day07_rng/Cargo.lock
day08_day09_ownership/target
day08_day09_ownership/Cargo.toml
day08_day09_ownership/Cargo.lock
day10_references/target
day10_references/Cargo.toml
day10_references/Cargo.lock
day11_katas_1/target
day11_katas_1/Cargo.toml
day11_katas_1/Cargo.lock
day12_katas_2/target
day12_katas_2/Cargo.toml
day12_katas_2/Cargo.lock
day13_katas_3/target
day13_katas_3/Cargo.toml
day13_katas_3/Cargo.lock
day14_vectors/target
day14_vectors/Cargo.toml
day14_vectors/Cargo.lock
day15_hashes/target
day15_hashes/Cargo.toml
day15_hashes/Cargo.lock
day16_errors_1/target
day16_errors_1/Cargo.toml
day16_errors_1/Cargo.lock

dump_files